:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-white:#F5F2EB;
  --color-green:#04BA71;
  --color-darkgreen:#04454D;
  --color-yellow:#FDC827;
}

html{
  scroll-behavior: smooth;
}

body{
  color: var(--color-white);
  background-color: var(--color-darkgreen);
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--color-green);
}
a:hover {
  color: var(--color-yellow);
}

.color-yellow{
  color: var(--color-yellow);
}

.color-green{
  color: var(--color-green);
}

.color-darkgreen{
  color: var(--color-darkgreen);
}

.bg-green{
  background-color: var(--color-green);
}

.toggle{
  display: none;
}

.navigation{
  position: fixed;
  z-index: 999;
}

.hero{
  gap: 5rem;
}

.results-title{
  min-width: 18rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid var(--color-green);
}


.flag{
  width: 20rem;

}

.nav-bg{
  background-color: var(--color-green);
}

.map{
  width: 100%;
  height: 30rem;
}

.founder{
  width: 50%;
  object-fit: cover;
  border-radius: 5px;
}

.footer{
  border-top: 1px solid gray;
  margin-top: 5rem;
  padding: 1rem;
}

.hero-left h1{
  line-height: 6rem;
}

.city-select span:hover{
  background-color: #f5f2eb42;
  cursor: pointer;
}

.city-select{
  height: 10rem;
  overflow-y: scroll;
  position: absolute;
  z-index: 10;
  background-color: rgba(22, 43, 22, 0.898);
  width: 100%;
}

.countries-container{
  min-height: 85vh;
}

.cities-loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid var(--color-green); /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-nav{
  transform: translateY(0%) !important;
}

@media only screen and (max-width:1270px){
  .main,
  .header{
    width: 90%;
  }

  .hero-left .text-7xl{
    font-size: 5vw;
    line-height: 6vw;
  }

  .hero{
    gap: 3rem;
  }
}

@media only screen and (max-width:980px){

  .main,
  .header{
    width: 100%;
  }

  .navigation{
    z-index: 999;
    border-bottom: 1px solid var(--color-yellow);
  }

  .hero-right{
    position: absolute;
    z-index: -2;

  }

  .curtain{
    background-color: #04444de7;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: -1;
  }

  .hero-left{
    padding: 0 10%;
  }

  .hero-left .text-7xl{
    font-size: 6.5vw;
    line-height: 8vw;
  }


  .toggle{
    display: block !important;
    margin-right: 5%;
    z-index: 999;

  }

  .nav-items{
    position: absolute;
    flex-direction: column;
    width: 100% !important;
    background-color: var(--color-darkgreen);
    top: 6rem;
    gap: 2rem;
    padding: 2rem;
    align-items: flex-start;
    transform: translateY(-150%);
    transition: all ease-in-out 500ms;
    z-index: 10 !important;

  }

  .navigation{
    background-color: var(--color-darkgreen);
  }

  .logo{
    margin-left: 5%;
    z-index: 999;
    color: #FDC827 !important;
  }

  .nav-curtain{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: var(--color-darkgreen);
    z-index: 15 !important;

  }

  .countries-container .text-6xl,
  .about .text-6xl,
  .contact-us .text-6xl{
    font-size: 6vw;
  }

  .countries-container p:first-of-type,
  .about p,
  .contact-us p{
    width: 90%;
  }

  form#compare-countries,
  .contact-us form{
    width: 60%;
  }

  .founder{
    width: 75%;
  }

  .about p,
  .contact-us p{
    font-size: 18px;
    line-height: 1.5rem;
  }

  .compare-results,
  .results-title-container{
    padding: 2rem;

  }

  .capital-data-header,
  .capital-data{
    width: 95%;
  }

  .capital-data>div{
    gap: 1rem;
  }

  .compare-results{
    flex-wrap: wrap;
    gap: 5rem;
  }

  .compare-left,
  .compare-right{
    width: 100% !important;
    flex: none !important;
  }







}

@media only screen and (max-width:480px){
  .hero-left .text-7xl{
    font-size: 7.5vw;
    line-height: 10vw;
  }

  .hero-left .text-xl{
    font-size: 16px;
  }

  .countries-container .text-6xl,
  .about .text-6xl,
  .contact-us .text-6xl
  {
    font-size: 2rem !important;
  }

  form#compare-countries,
  .contact-us form{
    width: 80%;
  }

  .about p,
  .contact-us p{
    font-size: 16px;
  }

  .compare-left>div:first-of-type,
  .compare-right>div:first-of-type{
    flex-direction: column;
  }

  .flag{
    width: 100%;
    margin-bottom: 1rem;
  }

  .capital-data>div{
    margin-bottom: 3rem;
  }


}

iframe {
  height: 1rem;
  margin-top: 1rem;
}


form input,
form textarea{
  color: black !important;
}

.form-success{
  background-color: #04BA71;
  margin-top: 1rem;
  padding: 10px;
  border-radius: 5px;
  color: white;
}